@charset "utf-8";

/* ******************** 메인스타일 ******************** */

.main-wrap { padding: 50px 40px; width: calc(100% - 250px); margin-left: 250px; }

.scrollable-div { width: 100%; height: 100%; overflow: auto; }
.scrollable-div ul { padding-left: 10px; }
.scrollable-div ul ul { margin-left: 10px; }
.scrollable-div li { list-style: none; position: relative; padding-left: 10px; }
.scrollable-div li input.checkbox + label::before { content: none; }
.scrollable-div li input.checkbox + label::before { content: none; }
#clusterDistance{ padding:0 15px 0 15px; }

.custom-modal {
	display: none; 				position: fixed;
	left: 0; 	width: 100%;	overflow: auto;
	top: 0;		height: 100%;	z-index: 9999;
	box-shadow: 10px rgba(0, 0, 0, 0.3);
}

.custom-modal-content {
	
	margin: 15% auto;	background-color: #fefefe;
	padding: 20px; 		border-radius: 10px;
	width: 40%; 		box-shadow: 10px rgba(0, 0, 0, 0.3);
}

.custom-modal-header .btn-close {
	float: right; 		cursor: pointer;
	width: 6px; 		height: 6px;
	font-weight: normal;
}

#custom-table {
	width: 100%; 		border-top: 1px solid #f0f0f0;
	font-size: 12px; 	border-collapse: collapse;
	color: #545454; 	text-align: center;
}

#custom-table th, td { border-bottom: 1px solid #f0f0f0; padding: 8px; }
#custom-table th { background: #f0f0f0; font-weight: normal; }
#custom-table td { white-space: nowrap; }

.custom-close { float: right; cursor: pointer; }

.separator { display: block; width: 100%; height: 2px; margin: 5px 0; }

.button {
	display: inline-block; 	padding: 5px 10px;
	font-size: 14px; 		cursor: pointer;
	text-align: center; 	text-decoration: none;
	color: #fff; 			background-color: #007bff;
	border: none; 			border-radius: 3px;
	outline: none; 			box-shadow: 0 2px #0056b3;
	margin-left: 8px; 		margin-bottom: 10px;
}

.button:hover { background-color: #0056b3; }
.button:active { background-color: #00499e; box-shadow: 0 1px #00346b; transform: translateY(1px); }
    
#type {
	padding: 5px 10px; 		font-size: 14px;
	color: #007bff;			background-color: #fff;
	border-radius: 3px; 	border: 1px solid #007bff;
	text-align: center; 	margin-left: 7px;
	margin-right: 7px; 		margin-bottom: 7px;
}
    
.button:nth-child(2) { margin-right: -8px;  }

#type {
	padding: 5px 10px; 		font-size: 14px;
	color: #007bff; 		background-color: #fff;
	border-radius: 3px; 	border: 1px solid #007bff;
	text-align: center; 	margin-left: 7px;
	margin-right: 7px; 		margin-bottom: 7px;
}
    
#clusterCategory {
	table-layout: fixed;	border: 1px solid black;	
	text-align : center;	background-color: #f0f0f0;
}
   
#clusterCategory td {
	table-layout: fixed; 	border: 1px solid black;
	text-align : center; 	background-color: #f0f0f0;
}
   
#category-reset { float: right; margin:5px; padding: 2px; border: 1px solid; }
   
#category-reset {
	float: right; 		margin-right: 5px;
	margin-top: 5px; 	display: inline-block;
	padding: 5px 10px; 	font-size: 14px;
	cursor: pointer; 	text-align: center;
	outline: none; 		text-decoration: none;
	color: #fff; 		background-color: #007bff;
	border: none; 		border-radius: 3px;
	margin-left: 8px; 	box-shadow: 0 2px #0056b3;
	margin-bottom: 10px;
}

#category-reset:hover { background-color: #0056b3; }
#category-reset:active { background-color: #00499e; box-shadow: 0 1px #00346b; transform: translateY(1px); }
